@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #E6E0D0; }

ul {
  list-style-type: none;
  padding: 0; }

p {
  margin: 0; }

.container {
  background: #E6E0D0; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.flex {
  display: flex; }

.t-center {
  text-align: center; }

.body-grid {
  display: grid;
  grid-template-columns: 250px auto; }
  @media (max-width: 768px) {
    .body-grid {
      display: block; } }

.sidebar {
  height: 100%;
  width: 220px; }
  .sidebar .flex {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%; }

.sidebar-container {
  background: #2F2F2F;
  color: #E6E0D0; }

.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center; }

.branding {
  margin: 0 auto;
  width: max-content; }

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/landing.jpg") no-repeat 0;
  background-size: cover;
  height: 110vh;
  justify-content: start;
  align-items: center; }
  .landing .title {
    margin-left: 20px;
    height: max-content; }
    .landing .title span {
      font-size: 42px;
      font-weight: bolder;
      display: block;
      color: #fff; }

.menu-wrapper {
  background: #E6E0D0;
  display: grid;
  grid-template-columns: 40px auto;
  background: #E6E0D0; }

.menu-sidebar-container {
  background: #fff;
  transform: translateX(-100%); }

.menu-sidebar ul li {
  display: block;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(-180deg);
  padding-right: 16px; }
