@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$sidebarWidth: 210px;
$padding: 16px;
$roboto: 'Roboto', sans-serif;
$white: #fff;
$dark: #323232;
$light: #E6E0D0;
$mobile: 768px;
$tablet: 1024px;

// query
@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet}){
        @content;
    }
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $light;
}
html{
  overflow-x: hidden;
}
ul{
  list-style-type: none;
  padding: 0;
}
p{margin:0;}
h2{margin-bottom: 4rem;}
h4{margin-bottom: 2rem;}
.container{background: $light;}
.fixed{position: fixed;}
.absolute{position: absolute;}
.flex{display: flex;}
.t-center{text-align: center;}
.padding{padding: 150px 50px;}

.body-grid{
  display: grid;
  grid-template-columns: $sidebarWidth auto;
  grid-template-rows: 100%;
  @include mobile{display: block;}
}

//siderbar css start
.sidebar{
  height: 100%;
  width: $sidebarWidth - 30; // container has padding 15px left/right
  @include mobile{display: none;}
  .flex{
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
}

.sidebar-container{
  position: relative;
  background: #2F2F2F;
  color: $light;
  z-index: 9;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
}

.branding{
  margin: 0 auto;
  width: max-content;
}

//sidebar css end

//landing start
.landing{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/landing.jpg") no-repeat 0;
  background-size: cover;
  height: 110vh;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 9;
  .title{
    margin-left: 20px;
    height: max-content;
    span{
      font-size: 42px;
      font-weight: bolder;
      display: block;
      color: $white;
    }
  }
}
//landing end

//about start

.about-grid{
  height: max-content;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}



//menu start
.menu-wrapper{
  background: $light;
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-areas: 
  "sidebar menu";
  background: $light;
}

.menu-main{
  grid-area: menu;  
  padding: 0 20px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
 }

.menu-sidebar-container{
  display: flex;
  grid-area: sidebar;
  background: $white;
  transform: translateX(-100%);
  height: 100vh;
  position: fixed;
  bottom: 0.1px;
  transition: all 1s ease-in-out;
}

.transform{
  transform: translate(0%, 0%);
}

.menu-sidebar{
  margin: auto 0;
  height: 450px;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  a{
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
    padding-right: $padding / 2;
    margin-right: $padding / 2;
    width: 33px;
    // border-left: 2px solid yellow;
  }
}

.active{
  color: #8DD35F !important;
  font-weight: bold;  
}

.fixed-nav{
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1)
}

.line{
  display: block;
  width: 0%;
  height: 2px;
  background: $dark;
  margin: 15px 15px 15px 0;
  transition: all 1.5s ease-in-out;
}

.menu-grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 0 20px;
  @include tablet{grid-template-columns: 50% 50%;}
  @include mobile{
    justify-content: center;
    grid-template-columns: 100%;}

  .grid-item{
    max-width: 400px;
    opacity: 0;
    transform: translateY(30%);
    transition: all 0.5s ease-in-out;
    h5{display: inline;}
    i{
      display: block;
      margin: $padding 0;
      font-weight: 200;

    }
  }
}

#lunch{display: block;}
#dinner{display: none; opacity: 0;}
#drinks{display: none; opacity: 0;}
#lunch, #dinner, #drinks{transition: ease-in-out all 1s;}


// hover link buttons highlight

.highlight{
  transition: all 0.4s;
  position: absolute;
  border-right: 2px solid yellow;
  top:0;
  left: -5px;
  z-index: 5;
  display: block;

}