@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$sidebarWidth: 210px;
$padding: 16px;
$roboto: 'Roboto', sans-serif;
$white: #fff;
$dark: #323232;
$light: #E6E0D0;
$mobile: 767px;
$tablet: 1024px;
$contentPadding: 250px;


// query
@mixin mobile {
    @media (max-width: #{$mobile}){
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet}){
        @content;
    }
}

* {box-sizing: border-box;}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html{
  overflow-x: hidden;
}
ul{
  list-style-type: none;
  padding: 0;
}
p{margin:0;}
h2{margin-bottom: 4rem;}
h4{margin-bottom: 2rem;}
.container{background: $light;}
.fixed{position: fixed;}
.absolute{position: absolute;}
.flex{display: flex;}
.t-center{text-align: center;}
.grid{display: grid;}
.show{
  opacity: 1 !important;
  transform: translateY(0%) !important;
}

.body-grid{
  display: grid;
  grid-template-columns: $sidebarWidth auto;
  grid-template-rows: 100%;
  @include mobile{display: block;}
}

//siderbar css start
.sidebar{
  height: 100%;
  width: $sidebarWidth - 30; // container has padding 15px left/right
  @include mobile{display: none;}
  .flex{
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
}

.sidebar-container{
  position: relative;
  background: $dark;
  color: $light;
  z-index: 9;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    a{
      text-decoration: none;
      color: $light;
      &:hover{
        color: rgb(216, 112, 147);
        cursor: pointer;
      }
    }
}

.branding{
  margin: 0 auto;
  width: max-content;
  img{width: ($sidebarWidth - 30px);} //30px removed because padding
}

//sidebar css end

//landing start
.landing{
  height: 100vh;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 9;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33.333% 33.333% 33.333%;
  grid-template-areas:
  "slide"
  "slide"
  "slide";
  .container{
    transform: translateX(-1%);
    margin: 0;
    padding: 0;
    width: 0px;
    height: 43px;
    z-index: 8;
    color: $light;
    grid-column: 1;
    grid-row:3;
    justify-self: start;
    align-self: start;
    background: $dark;
    transition: all 1s ease-in-out;
    h1{
      margin: 0;
      font-size: 30px;
      padding-left: 20px;
      transition: all 1s ease-in-out;
      opacity: 0;
    }
  }
  .title{
    margin-left: 20px;
    height: max-content;
    span{
      font-size: 42px;
      font-weight: bolder;
      display: block;
      color: $white;
    }
  }
}

// landing slide show
.cycle-slideshow {
  overflow: hidden;
  position: relative;
  z-index: 5;
  grid-area: slide;
}

.cycle-slideshow > div {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: transform 6.5s linear;
  position: relative;
  z-index: 6;
}

#slide-1 {background-image: url('/img/landing1.jpeg');}
#slide-2 {background-image: url('/img/landing2.jpeg');}
#slide-3 {background-image: url('/img/landing3.jpeg');}
#slide-4 {background-image: url('/img/landing4.jpg');}

.cycle-slideshow .scale {transform: scale(1.1);}
.cycle-slideshow .fx1 {transform-origin: bottom left;}
.cycle-slideshow .fx2 {transform-origin: top left;}
.cycle-slideshow .fx3 {transform-origin: top right;}
.cycle-slideshow .fx4 {transform-origin: bottom right;}
//landing end

//about start
.about{
  background: $light;
  padding: $contentPadding 40px;
  @include mobile{padding: 50px 20px;}
}

.about-grid{
  background: $dark;
  color: $light;
  text-align: center;
  height: 500px;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 50% 50%;
  div{
    display: grid;
    justify-content: center;
    align-content: center;
  }
  // .button{justify-self: center;}
  p{padding: 0px $padding $padding $padding}
  .img1{
    background: url("/img/img1.jpeg");
    background-size: cover;
    background-position: center;
  }
  .img2{
    background: url("/img/img2.jpeg");
    background-size: cover;
    background-position: center;
  }
  @include mobile{
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    .img1,.img2{
      display: none;
    }
  }
  
}

//menu start
.menu-wrapper{
  background: $light;
  padding-bottom: $contentPadding;
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-areas: 
  "sidebar menu";
}

.menu-main{
  grid-area: menu;  
  padding: 0 20px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
 }

.menu-sidebar-container{
  display: flex;
  grid-area: sidebar;
  background: $white;
  transform: translateX(-100%);
  height: 100vh;
  position: fixed;
  bottom: 0.1px;
  transition: all 1s ease-in-out;
}

.menu-sidebar{
  margin: auto 0;
  height: 450px;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  a{
    display: block;
    text-decoration: none;
    color: $dark;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
    padding-right: $padding / 2;
    margin-right: $padding / 2;
    width: 33px;
    cursor: pointer;
    // border-left: 2px solid yellow;
  }
}

.active{
  color: rgb(216, 112, 147) !important;
  font-weight: bold;  
}

.fixed-nav{
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1)
}

.line{
  display: block;
  width: 0%;
  height: 2px;
  background: $dark;
  margin: 15px 15px 15px 0;
  transition: all 1.5s ease-in-out;
}

.menu-header{
  h4{margin-top: 3rem;}
}
.menu-grid{
  width: 90%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 0 20px;
  @include tablet{grid-template-columns: 50% 50%;}
  @include mobile{
    width: 100%;
    justify-content: center;
    grid-template-columns: 100%;}

  .grid-item{
    max-width: 400px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(30%);
    h5{display: inline;}
    .float-right{margin-right: 20px;}
    i{
      display: block;
      margin: $padding 0;
      font-weight: 200;
    }
  }
}

#lunch{display: block;}
#dinner{display: none; opacity: 0;}
#drinks{display: none; opacity: 0;}
#lunch, #dinner, #drinks{transition: ease-in-out all 1s;}
// menu end

//contact start

.contact{
  .grid{
    background: $light;
    height: 750px;
    grid-template-columns: 40% 60%;
    @include tablet{
      grid-template-columns: 100%;
      grid-template-rows: 40% 60%;
    }
    .first{
      padding: 70px;
      flex-direction: column;
      @include tablet{
        padding: 0px;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
      }
      .flex{
        height: 300px;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        @include tablet{
          align-items: center;
          text-align: center;
          width: min-content;
        }
        .button{
          margin: 0;
          align-self: center;
          .c-btn{
            background-color: $dark;
            color: $light;
            max-width: 200px;
            &:before{
              border-bottom: 2px solid $dark;
              border-left: 2px solid $dark;
            }
            &:after {
              border-right: 2px solid $dark;
              border-top: 2px solid $dark;
            }
          }
        }
        h5{
          width: max-content;
        }
        ul{
          width: max-content;
        
        }
      }
    }
    .line{
      width: 80% !important;
      margin: 20px auto;
      transition: none;
      @include tablet{
        width: 2px !important;
        height: 80%;
        margin: auto 20px;
      }
    }
    .second{
      align-self: center;
      justify-self: center;
      width: min-content;
      #map{
        border: solid 2px $dark;
        .maps{
          width: 600px;
          height: 300px;
          @include tablet{width: 450px;}
          @include mobile{width: 350px;}

        }
      }
    }
  }
}

//buttons

.button {
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;

.c-btn {
  background-color: $light;
  color: $dark;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 12px;
  margin: 10px;
  min-width: 100px;
  padding: 18px 40px;
  position: relative; 
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  vertical-align: middle;

  &:before, 
  &:after {
    box-sizing: border-box;
    content: '';
    height: 20px;
    position: absolute;
    transition: 0.3s;
    width: 20px;
    z-index: 3;
  }   

  &:before {
    bottom: -10px;
    border-bottom: 2px solid $light;
    border-left: 2px solid $light;
    left: -10px;
    transform-origin: 0 100%;
  }     
  
  &:after {
    border-right: 2px solid $light;
    border-top: 2px solid $light;
    right: -10px;
    top: -10px;
    transform-origin: 100% 0%;
  } 

  &:hover {
    vertical-align: middle;

    &::before,
    &::after {
      width: calc(100% + 20px);
      height: calc(100% + 20px);
    }
   }    
  }     
}   

//button end

// hover link buttons highlight


.highlight{
  transition: all 0.4s;
  position: absolute;
  border-right: 2px solid yellow;
  top:0;
  left: -5px;
  z-index: 5;
  display: block;

}

// gallery
.gallery{
  max-width: 760px;
  margin: $contentPadding/2 auto;
  border: $light solid 10px;
  background: $light;
}

.main-img img,
.imgs img{
  width: 100%;
}
.main-img{
  border-top: $light solid 3px;
  border-bottom: $light solid 3px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  button{
    opacity: 0;
    background: $light;
    transition: 0.5s ease-in-out;
    &:hover{
      opacity: 0.2;
    }
  }   
}
#current {grid-column: 1 / span 2; grid-row: 1;}
.nextImg {grid-column: 2; grid-row:1;}
.prevImg {grid-column: 1; grid-row:1;}

.galleryButton{
  cursor: pointer;
  z-index: 3;
  background: transparent;
  width: 100%;
  height: 100%;
  color: transparent;
  border: none;
}
.galleryButton:focus {
  outline:0;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  cursor: pointer;
}

/* fade in  */

@keyframes fadeIn {
  to {opacity: 1;}
}

.fade-in{
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

